{% extends "base.html" %}
{% block content %}
<div class="post">
    <h1 class="shadow">{{ poll.title }}</h1>
    <div class="post-body">
        {{ poll.text }}
    </div>
    <div style="font-weight: bold">
        Current score: {{ poll.score }}
    </div>
    <div class="poll-vote">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="vote" value="Yes" class="button3">
            <input type="submit" name="vote" value="No" class="button3">
        </form>
    </div>
</div>
<a class="backlink" href="/polling">✅ back to all polls</a>
{% endblock %}