<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peak Social 🌋</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <div id="header">  {# header begins here #}
        <ul id="control-bar">
            <li><a href="/">👀 posts</a></li>
            <li><a href="/polling">✅ polls</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">🧙‍♂️ admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">👋 logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">🧑 login</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="container">
        {% block content %}
        [ content goes here]
        {% endblock %}
    </div>
</body>
</html>